{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "extends": ["plugin:vue/essential", "airbnb"],
  "rules": {
    "semi": [2, "always"],
    "comma-dangle": [2, "never"],
    "no-plusplus": [0],
    "no-param-reassign": [0],
    "jsx-a11y/href-no-hash": "off"
  }
}