.idea
*.iml
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.log
*.sublime-project
*.sublime-workspace
.buildpath
.settings

coverage
.nyc_output

dist/
node_modules
npm-debug.log
theme/
